/* Set default font family, background color, and text color */
body {
  font-family: Arial, sans-serif;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  position:relative;
  background-color: #d2903f;
  color: #000000;
  background-image: url(Images/premium_photo.jpeg);
  padding-top: 3cm;
  height: 500px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position:absolute;
  color: rgb(73, 70, 70);
}



/* Center the main heading and add margin at the top */
#heading {
color: 
#000000;
margin-left: 1cm;
font-size: 8em;
font-weight: bold;
position: absolute;
margin-top: -1em;

}


/* Style the form container */
form {
  max-width: fit-content;
  max-height: fit-content;
  margin-left: 55em;
  margin-top: -4em;
  /* From https://css.glass */
  background: rgba(22, 22, 22, 0.1);
  border-radius: 26px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
  border: 1px solid rgba(255, 255, 255, 0.03);
  padding: 16px;
  overflow-y: auto;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: absolute;
}

/* Style form labels */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #3a3a3b;
}

/* Style text inputs and text areas */
input[type="email"],
textarea {
  width: 95%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #383839;
  border-radius: 5px;
  font-size: 16px;
  color: #363535;
  background: rgba(158, 150, 150, 0.1);
}

  /* Style text inputs and text areas */
  #subject{
    width: 89%;
    padding: 3px;
    margin-bottom:-1em;
    border: 1px solid #404142;
    border-radius: 5px;
    font-size: 16px;
    color: #434242;
    z-index: 22;
    position: absolute;
    
    background: rgba(148, 142, 142, 0.1);
  }

/* Style file input */
input[type="file"] {
  margin-bottom: 12px;
  color: #222324;
  
}

#banner-image {
  position: absolute;
  top: 22em;
  left: 13em;
  height: 5cm; 
  width: 6cm; 
  object-fit: cover;
  z-index: 1;
}

#icon-image {
  position: absolute;
  top: 27.5em;
  left: 3em;
  height: 5cm; 
  width: 6cm; 
  object-fit: cover
  z-index 1;
}



/* Style form submit button */
input[type="button"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #949395;
  
  border: none;
  border-radius: 5px;
  color: #1f2121;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Style submit button on hover */
input[type="button"]:hover {
  color: #c9c8c8;
  background-color:#404244;
  
}

/* Style container for valid and invalid emails */
#validEmails {
  margin-top: 1px;
}
#invalidEmails {
  margin-top: 1px;
  
} 

/* Style paragraphs within container for valid and invalid emails */
#validEmails p,
#invalidEmails p {
  font-weight: bold;
  color: #2a2d2f;
}


/* Style divs within container for valid and invalid emails */
#validEmails div {
color: #202122;
}

#invalidEmails div {
color: #212324;
}

#message{
  color:#212425;
}
#senderEmail{
  color:#242627;
}

/* Style text inputs and text areas */
input[type="email"]:focus,
textarea:focus {
  outline: none !important;
  border-color: #212324;
 
}
#validEmails, #invalidEmails {
  height: 150px;
  overflow: auto;
}

h1 {
font-weight: 200;
margin: 0.4em 0;
z-index: 12;
position: absolute;
margin-top: 17em;
margin-left:14em ;
}
h1 { font-size: 18px; }
h1 {
color: #414141;
font-size: 18px;
}


