/* Set default font family, background color, and text color */
body {
  font-family: Arial, sans-serif;
  background-color: #e6e6e6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  background-size: cover;
  position:relative;
  color: #000000;
  
}



/* Center the main heading and add margin at the top */
#heading {
color: 
#000000;
margin-right: 5em;
font-size: 8em;
font-weight: bold;
position: absolute;
margin-top: .2em;

}


/* Style the form container */
form {
  max-width: 5000px;
  margin-left: 55em;
  margin-top: 2em;
  /* From https://css.glass */
  background: rgba(36, 36, 36, 0.1);
  border-radius: 26px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
  border: 1px solid rgba(255, 255, 255, 0.03);
  padding: 16px;
  overflow-y: auto;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* Style form labels */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #575761;
}

/* Style text inputs and text areas */
input[type="email"],
textarea {
  width: 95%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #767a7d;
  border-radius: 5px;
  font-size: 16px;
  color: #766f6f;
  background: rgba(187, 179, 179, 0.1);
}

  /* Style text inputs and text areas */
  #subject{
    width: 89%;
    padding: 3px;
    margin-bottom:-1em;
    border: 1px solid #767a7d;
    border-radius: 5px;
    font-size: 16px;
    color: #766f6f;
    z-index: 22;
    position: absolute;
    
    background: rgba(187, 179, 179, 0.1);
  }

/* Style file input */
input[type="file"] {
  margin-bottom: 12px;
  color: #393E41;
  
}

#banner-image {
  position: absolute;
  top: 22em;
  left: 13em;
  height: 5cm; 
  width: 6cm; 
  object-fit: cover;
  z-index: 1;
}

#icon-image {
  position: absolute;
  top: 27.5em;
  left: 3em;
  height: 5cm; 
  width: 6cm; 
  object-fit: cover
  z-index 1;
}

/* Style form submit button */
input[type="button"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #C5C3C6;
  
  border: none;
  border-radius: 5px;
  color: #393E41;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Style submit button on hover */
input[type="button"]:hover {
  color: #e6e6e6;
  background-color:#65696d;
  
}

/* Style container for valid and invalid emails */
#validEmails {
  margin-top: 1px;
}
#invalidEmails {
  margin-top: 1px;
  
} 

/* Style paragraphs within container for valid and invalid emails */
#validEmails p,
#invalidEmails p {
  font-weight: bold;
  color: #393E41;
}


/* Style divs within container for valid and invalid emails */
#validEmails div {
color: #393E41;
}

#invalidEmails div {
color: #393E41;
}

#message{
  color:#393E41;
}
#senderEmail{
  color:#393E41;
}

/* Style text inputs and text areas */
input[type="email"]:focus,
textarea:focus {
  outline: none !important;
  border-color: #393d40;
 
}
#validEmails, #invalidEmails {
  height: 150px;
  overflow: auto;
}

h1 {
font-weight: 200;
margin: 0.4em 0;
z-index: 12;
position: absolute;
margin-top: 23em;
margin-left:14em ;
}
h1 { font-size: 18px; }
h1 {
color: #888;
font-size: 18px;
}


